DATABASE_URL="postgresql://neondb_owner:npg_6kbvAdx1Irze@ep-green-dew-axahl7km-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="supersecret_jwt_access_key_boi_lagbe_enterprise"
JWT_REFRESH_SECRET="supersecret_jwt_refresh_key_boi_lagbe_enterprise"
PORT=3000
NODE_ENV="development"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173"
